body {
    text-align: center;
    background-color: #320d3d;
}

h1 {
    text-decoration: underline;
    color: rgb(147, 41, 192);
}

h2 {
    color: rgb(183, 143, 223);
}

p {
    color: rgb(200, 143, 223);
}

.p1 {
    font-family: serif;
}

.p2 {
    font-family: sans-serif;
}

.p3 {
    font-family: fantasy;
}

.p4 {
    font-family: Cedarville Cursive;
}

.p5 {
    font-family: monospace;
}

  


 