body {
    text-align: center;
    background-color: #7b518b;
}

h1 {
    text-decoration: underline;
    color: rgb(43, 0, 59);
}

h2 {
    color: rgb(61, 39, 83);
}

p {
    color: rgb(240, 210, 237);
}

.p1 {
    font-family: serif;
}

.p2 {
    font-family: sans-serif;
}

.p3 {
    font-family: fantasy;
}

.p4 {
    font-family: Cedarville Cursive;
}

.p5 {
    font-family: monospace;
}

  


 